<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>OAuth2 Tester</title>
</head>
<body>
  <h1>OAuth2 Tester</h1>

  <% if flash[:error] %>
    <div style="color: red; margin-bottom: 1rem;"><%= flash[:error] %></div>
  <% end %>

  <div>
    <%== yield %>
  </div>
</body>
</html>
